        body{
            font-family:Arial, Helvetica, sans-serif;
            background-color: #000;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }
        section{
            max-width: 600px;
            background-color: #000;
            border: 1px solid #2f3336;
            border-radius: 16px;

        }
        .first-row{
            display: flex;
            align-items: center;
            padding: 12px 16px;
            gap: 12px;
        }
        .user-pic{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;

        }
        .user-info{
           display: flex;
              align-items: center;
              gap: 6px;
        }
        .header-content{
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .verified{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #1da1f2;

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;

        }
        .post-content{
            padding: 0 16px ;
        }
        .start-item{
            display: flex;
            align-items: center;
            margin-top: 8px;
        }
        .circle{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #fff;
            margin-right: 8px;
            border: 2px solid #fff;
        }
        .images-container{
            display: flex;
            gap: 2px;
            border-radius: 12px;
            overflow: hidden;
            margin: 12px 16px;
        }
        .images-container img{
            width: 500px;
            height: 400px;
            object-fit: cover;
            border-radius: 12px;
        }

        .intersection_br{
            display: flex;
            justify-content: space-between;
            padding: 8px 16px;
            border-top: 1px solid #2f3336;
            border-bottom: 1px solid #2f3336;
            margin-top: 8px;
        }
   